<html>
 <head>
  <title>Puppet on a string</title>
 </head>
 <body>
     <p> this server's name is: <%= @hostname %></p>
     <p> this server's IP address is: <%=@ipaddress %></p>
  <h1>Welcome to :"<%= @application_title %>"</h1>
 </body>
</html>
